*
!.gitignore
!README.md
!shell.nix
!.shellhook
!bash/
!profile
!*.bashrc
!vim/
!*.vim
!*.vimrc
!tmux/
!*.conf
!alacritty/
!*.yml
!main
!i3/
!*.config
!fehbg
!redshift
!bin/
!cbacklight
!git/
!config
!manjaro_i3/
!manjaro_i3/bash_profile
!manjaro_i3/bashrc
!manjaro_i3/dmenurc
!manjaro_i3/i3config
!manjaro_i3/i3statusconfig
!manjaro_i3/mimeapps.list
!manjaro_i3/profile
!manjaro_i3/volumeicon
!manjaro_i3/*.txt
